<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'pokeApp/css/style.css' %}">
    <title>User Dashboard</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-right">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="{% url 'poke:logout' %}">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <div id="container">
        <h2>Welcome, <span class="colorRed">{{user_name}}</span>!</h2>
        <p>{{numPeople}} people poked you!</p>
        <div class="row">
            <div class="col-md-6 history">
                {% for entry in history %}
                    <p>{{entry.poker.name}} poked you {{entry.numPokesByPoker}} times</p>
                {% endfor %}
            </div>
        </div>    
        <div class="row">
            <div class="col-md-12">
                <h4>People you may want to poke</h4>
                <table class="table-bordered">
                    <tr>
                        <th>Name</th>
                        <th>Alias</th>
                        <th>Email Address</th>
                        <th>Poke History</th>
                        <th>Action</th>
                    </tr>
                    {% for user in users %}                    
                        <tr>
                            <td>{{user.name}}</a></td>
                            <td>{{user.alias}}</td>
                            <td>{{user.email}}</td>
                            <td>{{user.receivedPokes}}</td>
                            <td>
                                <form action="{% url 'poke:pokeUser' user.id %}" method="POST" class="form-horizontal">
                                    {% csrf_token %}
                                    <input type="submit" name="poke" value="Poke" class="btn btn-primary">
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>  
    </div>
</body>
</html>